.App-container {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.App-controls-container {
  position: relative;
  height: 100%;
  width: 300px;
}

.App-sidebar-left {
  left: 0;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  animation-name: polygons-left;
}

.App-sidebar-right {
  right: 0;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  animation-name: polygons-right;
}

@keyframes polygons-left {
  100% {
    clip-path: polygon(0% 0, 90% 0, 100% 100%, 0 100%);
  }
}

@keyframes polygons-right {
  100% {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 10% 100%);
  }
}

.App-container.out > .App-sidebar-left {
  left: -300px;
  transition-timing-function: ease-in;
}

.App-container.out > .App-sidebar-right {
  right: -300px;
  transition-timing-function: ease-in;
}

.App-container.in > .App-sidebar-left {
  left: 0;
  transition-timing-function: ease-out;
}

.App-container.in > .App-sidebar-right {
  right: 0;
  transition-timing-function: ease-out;
}

.App-main {
  background: white;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 1000px) {
  .App-container {
    width: 1000px;
  }

  .App-main {
    margin-left: 340px;
    width: 700px;
    display: flex;
    justify-content: center;
  }

  .ui.segment.App-controls {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
    position: fixed;
    margin: 10px;
    width: 300px;
  }
}

@media screen and (max-width: 999px) {
  .App-main {
    width: 100%;
    height: calc(100vh - 48px);
    overflow-y: scroll;
  }

  .ui.dropdown.App-dropdown {
    margin: 10px;
    width: calc(100% - 20px);
  }

  input {
    font-size: 16px;
  }
}

.App-social {
  display: flex;
}

.LanguageDescription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.LanguageDescription-image {
  height: 240px;
  margin: 10px 0;
}

.LanguageDescription-text {
  flex-grow: 1;
}
