.App-container {
  min-height: 100vh;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.App-sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  background: #34495e;
  color: white;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transition: left 0.5s, right 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px;
}

.App-controls-container {
  position: relative;
  height: 100%;
  width: 300px;
}

.ui.segment.App-controls {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  position: fixed;
  margin: 10px;
  width: 300px;
}

.App-sidebar-left {
  left: 0;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  animation-name: polygons-left;
}

.App-sidebar-right {
  right: 0;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  animation-name: polygons-right;
}

@keyframes polygons-left {
  100% {
    clip-path: polygon(0% 0, 90% 0, 100% 100%, 0 100%);
  }
}

@keyframes polygons-right {
  100% {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 10% 100%);
  }
}

.App-container.out > .App-sidebar-left {
  left: -300px;
  transition-timing-function: ease-in;
}

.App-container.out > .App-sidebar-right {
  right: -300px;
  transition-timing-function: ease-in;
}

.App-container.in > .App-sidebar-left {
  left: 0;
  transition-timing-function: ease-out;
}

.App-container.in > .App-sidebar-right {
  right: 0;
  transition-timing-function: ease-out;
}

.App-main {
  /* padding-left: 300px;
  padding-right: 300px;*/
  width: 700px;
  display: flex;
  justify-content: center;
  margin-left: 340px;
  background: white;
  padding: 10px;
}

.App-social {
  display: flex;
}

.LanguageDescription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.LanguageDescription-image {
  height: 240px;
  margin: 10px 0;
}

.LanguageDescription-text {
  flex-grow: 1;
}
