.App-container {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.App-controls-container {
  position: relative;
  height: 100%;
  width: 300px;
}

.App-sidebar-left {
  left: 0;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  animation-name: polygons-left;
}

.App-sidebar-right {
  right: 0;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  animation-name: polygons-right;
}

@keyframes polygons-left {
  100% {
    clip-path: polygon(0% 0, 90% 0, 100% 100%, 0 100%);
  }
}

@keyframes polygons-right {
  100% {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 10% 100%);
  }
}

.App-container.out > .App-sidebar-left {
  left: -300px;
  transition-timing-function: ease-in;
}

.App-container.out > .App-sidebar-right {
  right: -300px;
  transition-timing-function: ease-in;
}

.App-container.in > .App-sidebar-left {
  left: 0;
  transition-timing-function: ease-out;
}

.App-container.in > .App-sidebar-right {
  right: 0;
  transition-timing-function: ease-out;
}

.App-main {
  background: white;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 1000px) {
  .App-container {
    width: 1000px;
  }

  .App-main {
    margin-left: 340px;
    width: 700px;
    display: flex;
    justify-content: center;
  }

  .ui.segment.App-controls {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
    position: fixed;
    margin: 10px;
    width: 300px;
  }
}

.ui.label.App-github {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #f1f8ff;
  color: #0366d6;
  font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.ui.label.App-github:hover {
  background-color: #def;
  color: #0366d6;
}

i.icon.App-github-icon {
  font-size: 17px;
}

.LanguageDescription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.LanguageDescription-container > * {
  flex-shrink: 0;
}

.LanguageDescription-image {
  width: 100%;
  max-height: 300px;
  margin: 10px 0;
}

.LanguageDescription-text {
  flex-grow: 1;
  overflow: auto;
  flex-shrink: 1;
}

.App-dropdown.ui.search.dropdown .menu {
  max-height: 16.02857143rem;
}

.App-social {
  display: flex;
  margin-top: 10px;
}

.App-social > .ui.basic.button {
  padding: 10px 1.5em 10px;
  height: 32px;
}

.App-mobile-header {
  position: fixed !important;
  background-color: white;
  top: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  z-index: 100;
}

@media screen and (max-width: 999px) {
  .App-container {
  }

  .App-main {
    margin-top: 100px;
  }

  .ui.dropdown.App-dropdown {
    margin: 10px;
    width: calc(100% - 20px);
  }

  input {
    font-size: 16px;
  }

  .ui.label.App-github {
    margin: 10px;
    width: calc(100% - 20px);
  }
}
