.Repository-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.Stats-container {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  margin: 0 20px;
}

.Stats-star {
  color: #ffd700;
}

.Stats-issue {
  color: grey;
}

.Labels-container {
  display: flex;
  flex-direction: column;
}

.Description-container > .Labels-container {
  flex-direction: row;
}

.Description-container .Label-container {
  margin-right: 10px;
}

.Label-container {
  margin: 4px 0;
}

.Label {
  background-color: grey;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  font-size: 13px;
  font-weight: 600;
  height: 20px;
  line-height: 16px;
  padding: 0.15em 4px;
  margin: 3px 0;
}

.Description-container {
  display: flex;
  flex-direction: column;
}

.Description-link {
  font-size: 1.2rem;
  font-weight: 700;
}

.Description-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 460px;
  overflow: hidden;
}

.Repository-topics {
  display: flex;
  overflow: hidden;
}

.ui.label.Repository-topic {
  background-color: #f1f8ff;
  color: #0366d6;
  white-space: nowrap;
  flex-wrap: wrap;
}

.ui.label.Repository-topic:hover {
  background-color: #def;
  color: #0366d6;
}

@media screen and (min-width: 1000px) {
  .Repository-container {
    min-width: 650px;
  }
}

@media screen and (max-width: 999px) {
  .Repository-container {
    flex-direction: column;
  }

  .Repository-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .ui.tiny.image {
    height: 80px;
  }

  .Description-container {
    width: 100%;
  }

  .Description-text {
    white-space: normal;
  }

  .Stats-container {
    align-self: center;
    margin-left: 15px;
    margin-right: 10px;
  }

  .Labels-container {
    margin-top: 5px;
  }

  .Label-container {
    margin: 5px 0;
  }
}
